.cooperate-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.cooperate{
    width: 1600px;
    height: 900px;
    background-color: #102A4D;
    position: relative;
}


.cooperate-bgr-left{
    position: absolute;
    z-index: 2;
    bottom: 10px;
}

.cooperate-button-wrap{
    margin: 2.25rem 0;
    display: flex;
    align-items: center;
    translate: none;
    rotate: none;
    scale: none;
    opacity: 1;
    visibility: inherit;
    transform: translate(0px, 0px);
    gap: 20px;
}

.cooperate-bgr-right{
    position: absolute;
    z-index: 2;
    width: 210px;
    height: 210px;
    background-color: #E759AE;
    border-radius: 50%;
    bottom: 10px;
    right: 190px;
    top: 220px;
}

.cooperate-content-list-img{
    position:absolute;
    z-index: 3; 
    display: flex; 
    width: 100%;
    align-items: center;
    justify-content: center;

}

.cooperate-content-list{
    margin: 0 0 0 180px;
}

.cooperate-title-heading{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    margin-bottom: 23px;
}

.cooperate-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;

}


.item-container-active{
    transform: scale(1.25);
    border-color: #fff;
}

.cpr-title{
    margin-bottom: 0;
    color: #ffffff;

}

.cooperate-title{
    min-height: 15rem;
    color: #fff;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.0175rem;
    margin-bottom: 1.25rem;
    overflow: hidden;
}
.cooperate-image-icon-list{
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 9999px;
    overflow: hidden;
    transition: all 0.5s ease;
    border: 2px solid transparent;
}
.image-icon-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cooperate-name{
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 4px;
    color: #ffffff;
    width: 512px;
    line-height: 26px;
}

.cooperate-regency{
    font-size: 16px;
    color: #ffffff;
    width: 512px;
    margin-bottom: 32px;
    font-weight: 500;
    line-height: 26px;
}

.cooperate-content-img{
    width: 700px;
    margin-top: 160px;
}


@media(max-width:1598.99px){
    .cooperate{
        width: 1200px;
        height: 675px;
        background-color: #102A4D;
        position: relative;
    }
    .cooperate-bgr-left-img{
        max-width: 85%;
    }
    .cooperate-bgr-left {
        bottom: 20px;
    }
    .cooperate-bgr-right{
        width: 160px;
        height: 160px;
        bottom: 10px;
        right: 100px;
        top: 180px;
    }
    .cooperate-title {
        font-size: 12px;
        width: 530px;
        line-height: 20px;
        font-weight: 500;
    }
    .cooperate-name {
        font-size: 20px;
    }
    .cooperate-content-img {
        width: 550px;
        margin-top: 100px;
    }
}


@media(max-width:1198.99px){
    .cooperate-content-list-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cooperate{
        width: 600px;
        height: 900px;
        background-color: #102A4D;
        position: relative;
    }
    .cooperate-content-list {
        margin: 40px 0px 0 10px;
    }
    .cooperate-content-img {
        width: 500px;
        margin-top: -50px;
        margin-left: 50px;
    }

}

@media(max-width:599.99px){
    .cooperate{
        width: 374px;
        height: 900px;
        background-color: #102A4D;
        position: relative;
    }
     .cooperate-title {
        font-size: 10px;
        width: 370px;
        line-height: 17px;
        font-weight: 500;
    }
        .cooperate-name {
        font-size: 18px;
    }
    .cooperate-regency {
        font-size: 10px;
        width: 374px;
        }
    .cooperate-content-list {
        margin: 20px 0px 0 150px;
    }
    .image-icon-item{
        width: 40px;
        height: 40px;
    }
     .cooperate-content-img {
        width: 340px;
        margin-top: -50px;
        margin-left: -10px;
    }
  
}
