.mission-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    margin-bottom: 20px;
}
.img-union{
    height: 176px;
    width: 1600px;
}
.mission-section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mission-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 12px;
}

.mission-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(22, 91, 184, 1);
}
.ms-title{
    color: rgba(22, 91, 184, 1);
    margin: 0;
    font-weight: bold;
}

.mission-paragraph{
    font-size: 42.48px;
    width: 646px;
    color: #000000;
    text-align: center;
    
}
.mission-content{
    display: flex;
    margin-top: 88px;
}


.mission-icon-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:start;
    margin-left: 120px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;

}
.mission-icon-item{
    width: 415px;
    margin: 85px 0px 0px 0;;
}

.mission-icon-img{
    margin-bottom: 10px;
}

.mission-icon-title{
    color: rgba(22, 91, 184, 1);
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mission-icon-paragraph{
    color: #000000;
    width: 379px;
    margin-bottom: 36px;
}

.mission-icon-wrap{    
    width: 100%;
    display: flex;
    flex-direction: column;

}

.mission-img-item{
    width: 734px;
    height: 492px;
    border-radius: 24px;
}


.mission-img-wrap {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.mission-img-wrap.show {
  opacity: 1;
  transform: translateX(0);
}

@media(max-width:1598.99px){
    .img-union{
        height: 176px;
        width: 1200px;
    }
    .mission-icon-item {
        width: 415px;
        margin: 50px 0px 50px 0;
    }
    .mission-img-item{
        max-width: 100%;
    }
    .mission-icon-content{
        margin-left: 0;
    }
}

@media(max-width:1198.99px){
    .img-union{
        height: 120px;
        width: 600px;
    }

    .mission-icon-content {
        display: flex;
        margin:0 20px ;
        flex-direction: column-reverse;
    }
    .mission-paragraph{
        width: 590px;
    }
    .mission-highlight{
        font-size: 32px;
    }
    .mission-content {
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
    }
    .mission-img-item {
        height: auto;
        max-width: 100%;
    }
    .mission-icon-content{
        width: 590px;
    }
}

@media(max-width:599.99px){
    .img-union{
        height: 69px;
        width: 374px;
    }

    .mission-icon-content {
        margin:0 10px ;
    }
    .mission-paragraph{
        width: 364px;
    }
    .mission-highlight{
        font-size: 20px;
    }
    .mission-content {
        margin-top: 50px;
    }
    .mission-img-item{
        max-width: 100%;
    }
    .mission-icon-content{
        width: 364px;
    }
}